/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {}

.btn-form {
    width: 100px;
    /* background: #0A97B0; */
    color: #FAEEE7;
    border: none;
    border-radius: .5em;
    background: linear-gradient(150deg, #F54291, #0A97B0);
    background-size: 400% 400%;
    animation: BgGradient 5s ease infinite;
}

@keyframes BgGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn-form:hover {
    font-weight: bolder;
}